<!doctype html>
<html lang="en" class="antialiased" x-data="{ menu: false }">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{%- if title -%}{{ title }} - {{ site.meta.title }}{%- else -%}{{ site.meta.title }} - {{ site.meta.description }}{%- endif -%}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author + ' - '+ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="qrayg.com" />
    <meta property="og:description" content="Twitch Streamer, Gamer, UX Designer, UI Developer" />
    <meta property="og:url" content="https://qrayg.com" />
    <meta property="og:image" content="https://qrayg.com/og-image.jpg" />
    <meta property="og:image:width" content="279" />
    <meta property="og:image:height" content="279" />
    <meta name="theme-color" content="#222222" />

    <link rel="icon" type="image/x-icon" href="/{%- if favicon -%}_assets/{{ favicon }}/{%- endif -%}favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    {% if not '/qnx/' in page.url -%}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    
    {%- if '/currently/' in page.url %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap" />
    {%- elseif '/gear/' in page.url %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap" />
    {%- else %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" />
    {%- endif %}
    
    {%- endif %}

    <meta name="p:domain_verify" content="8f7326aedb8678368871e5a49beaa8ac" />

  </head>

  <body class="text-(base gray-{%- if page.url == '/qnx/' %}900{%- else %}400{%- endif %})" style="display: none;" data-instant-intensity="mousedown">
    <div class="app w-full min-h-screen flex-(& col) relative" x-data="{% renderblock 'data' -%}">

      {%- if page.url == '/qnx/' %}
      <div class="w-48 h-48 bg-(cover no-repeat) absolute -top-24 -left-24 rounded-full shadow-2xl sm:(w-64 h-64 -top-32 -left-32)" style="background-image: url('/_assets/qnx/img/star.png');"></div>
      {%- else %}
      <div id="bg" class="bg-gradient-to-b from-transparent via-transparent to-gray-800 fixed inset-0 z-[-2]" aria-hidden="true"><div class="bg-(grid fixed) absolute inset-0"></div></div>
      {%- endif %}
      <div id="particles" class="particles text-white hidden fixed inset-0 z-[-1] opacity-25 motion-safe:(block)" aria-hidden="true"></div>

      <header class="w-full">
        {% renderblock 'header' %}
        <nav class="fixed right-0 top-0 z-20">
          <a @click.prevent.stop="menu = !menu" href="#" class="menu-toggle w-12 h-12 text-2xl leading-none flex items-center justify-center motion-safe:(transition-all)">
            <i x-show="!menu"><iconify-icon icon="mdi:menu" width="1em" height="1em" inline="false"></iconify-icon></i>
            <i x-show="menu"><iconify-icon icon="mdi:menu-close" width="1em" height="1em" rotate="180deg" inline="false"></iconify-icon></i>
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div
            x-show="menu"
            x-transition:enter-start="opacity-0 translate-x-8"
            x-transition:enter-end="opacity-100 translate-x-0"
            x-transition:leave-start="opacity-100 translate-x-0"
            x-transition:leave-end="opacity-0 translate-x-8"
            @click.outside="menu = !menu"
            class="menu p-3 h-12 flex items-center fixed top-0 right-12 motion-safe:(transition-all)">
            <ul class="text-xl font-normal flex gap-5 sm:(gap-8)">
              {%- for item in collections.all | eleventyNavigation %}
              <li>
                <a href="{{ item.url }}" class="{%- if page.url == '/qnx/' %}text-gray-900 hover:(opacity-70){%- else %}hover:(text-white){%- endif %} motion-safe:(transition)">
                  <b class="sr-only">{{ item.title }}</b>
                  <iconify-icon icon="{{ item.icon }}" width="1em" height="1em" inline="false"></iconify-icon>
                </a>
              </li>
              {%- endfor %}
            </ul>
          </div>
        </nav>
      </header>
      
      <main class="w-full flex-(& 1 col)">
        {{ content | safe }}
      </main>

      {%- renderblock 'footer' %}

    </div>

    {%- renderblock 'js' %}
    <script src="/_assets/js/_app.js?v={% bust %}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1VGL06MY0W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-1VGL06MY0W');
    </script>

  </body>

</html>