<nav class="dropdown dropdown-end group">
  <div data-cuelume-hover="tick" data-cuelume-press data-cuelume-release tabindex="0" class="btn btn-ghost btn-circle hover:bg-current/10 group-focus-within:bg-current/10" aria-controls="nav-main" role="button">
    <span class="sr-only">Menu</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="w-4 h-4 fill-current pointer-events-none">
      <rect width="9" height="2" y="7" rx="1" class="origin-center -translate-y-[5px] translate-x-[7px] group-focus-within:translate-x-0 group-focus-within:translate-y-0 group-focus-within:rotate-[315deg] motion-safe:transition-all" />
      <rect width="16" height="2" y="7" rx="1" class="origin-center group-focus-within:rotate-45 motion-safe:transition-all" />
      <rect width="9" height="2" y="7" rx="1" class="origin-center translate-y-[5px] group-focus-within:translate-y-0 group-focus-within:rotate-[135deg] motion-safe:transition-all" />
    </svg>
  </div>
  <div
    tabindex="-1"
    class="dropdown-content my-2 border border-base-content/10 bg-base-100 rounded-box shadow-lg"
    id="nav-main">
    <menu class="menu menu-sm menu-horizontal p-1 [flex-flow:row] gap-1">
      {%- for item in collections.all | eleventyNavigation %}
      <li>
        <a href="{{ item.url | url }}" class="p-0 w-8 aspect-square text-lg flex items-center justify-center{% if item.url !== '/' %}{% if item.url === page.url or item.url in page.url %} menu-active{% endif %}{% else %}{% if item.url === page.url %} menu-active{% endif %}{% endif %}"{% if item.url !== '/' %}{% if item.url === page.url or item.url in page.url %} aria-current="page"{% endif %}{% else %}{% if item.url === page.url %} aria-current="page"{% endif %}{% endif %} data-cuelume-hover="tick">
          <iconify-icon icon="{{ item.icon }}" noobserver></iconify-icon>
          <b class="sr-only">{{ item.title }}</b>
        </a>
      </li>
      {%- endfor %}
    </menu>
  </div>
</nav>
