<!doctype html>
<html lang="en" class="bg-gray-900 motion-safe:scroll-smooth" hidden>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>qrayg - Twitch Streamer, Gamer, UX Designer, UI Developer</title>
    <meta name="description" content="qrayg - Twitch Streamer, Gamer" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="qrayg.com" />
    <meta property="og:description" content="Twitch Streamer, Gamer, UX Designer, UI Developer" />
    <meta property="og:url" content="https://qrayg.com" />
    <meta property="og:image" content="https://qrayg.com/og-image.jpg" />
    <meta property="og:image:width" content="279" />
    <meta property="og:image:height" content="279" />
    <meta name="theme-color" content="#222222" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&family=Inter:wght@900&display=swap" />

    <meta name="p:domain_verify" content="8f7326aedb8678368871e5a49beaa8ac" />

  </head>
  <body class="text-gray-400">

    <main class="main w-full min-h-screen flex flex-col relative opacity-100 transition" v-cloak>

      <transition>
        <section class="landing m-auto text-center relative z-20 transition-all" v-show="state == '#/'">
          <h1 class="logo group pt-4 pb-24 flex justify-center relative">
            <a href="#/" @click="state = '#/'" class="mx-4 text-white block animate-spin">
              <b class="animate-throb inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120" role="img" class="w-24 md:(w-32) h-auto inline-block align-middle">
                  <title>qrayg - Twitch Streamer, Gamer, UX Designer, UI Developer</title>
                  <g fill="currentColor">
                    <circle cx="98.1" cy="98.1" r="6" opacity=".25" />
                    <path d="M109.402699,94.0592724 C116.085856,84.3838 120,72.6489986 120,60 C120,26.862915 93.137085,0 60,0 C26.862915,0 0,26.862915 0,60 C0,93.137085 26.862915,120 60,120 C72.6489986,120 84.3838,116.085856 94.0592724,109.402699 C90.049715,107.969131 87.0258166,104.462602 86.278593,100.174129 C78.7292272,105.12235 69.7006692,108 60,108 C33.490332,108 12,86.509668 12,60 C12,33.490332 33.490332,12 60,12 C86.509668,12 108,33.490332 108,60 C108,69.7006692 105.12235,78.7292272 100.174122,86.2786024 C104.462602,87.0258166 107.969131,90.049715 109.402699,94.0592724 Z" />
                  </g>
                </svg>
              </b>
            </a>
            <b class="flex items-center justify-center opacity-[.0001] absolute bottom-0 inset-x-0 translate-y-1 transition-all group-hover:(opacity-100 -translate-y-1) group-focus:(opacity-100 -translate-y-1)"><b class="usr pb-8 text-xl md:(text-2xl) font-black "><small class="text(red-500 base)">@</small> <b class="logo-usr" title="qrayg - Twitch Streamer, Gamer, UX Designer, UI Developer">qrayg</b></b></b>
          </h1>
          <ul class="social mb-16 flex relative">
            <li v-for="(soc, index) in social" class="mx-3 md:mx-8" @mouseover="socialLoopPaused = true, socialActive = null" @mouseout="socialLoopPaused = false">
              <a :href="soc.url" :class="['w-8 h-8 md:(w-12 h-12) flex relative transition-all text-'+ soc.color, socialActive === (index + 1) ? 'active' : '']" :aria-label="soc.name">
                <template v-if="soc.name !== 'Gumroad'">
                  <i :class="['m-auto inline-block align-middle fa-fw text-2xl md:(text-3xl)', soc.icon]" aria-hidden="true"></i>
                </template>
                <template v-else>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true" focusable="false" role="img" class="svg-inline--fa fa-w-16 fa-fw m-auto fill-current inline-block align-middle fa-fw text-2xl md:(text-3xl)">
                    <path d="m226.175328 461c-110.925333 0-176.175328-89.196961-176.175328-200.149878 0-115.302334 71.775063-208.850122 208.799984-208.850122 141.37533 0 189.226009 95.723247 191.399986 150.111226h-102.224652c-2.175341-30.45711-28.275339-76.143252-91.350675-76.143252-67.424654 0-110.924514 58.739306-110.924514 130.531776 0 71.792742 43.49986 130.531639 110.924514 130.531639 60.899996 0 86.999994-47.860919 97.875334-95.723202h-97.875334v-39.160174h205.375357v200.149878h-90.100024v-126.181267c-6.524659 45.686415-34.799998 134.883376-145.724648 134.883376z" />
                  </svg>
                </template>
                <b></b>
              </a>
            </li>
          </ul>
          <p class="message mb-16 pt-8 text(4xl center) opacity-50 hidden"><b class="font-black"></b></p>
        </section>
      </transition>

      <transition>
        <section class="gear mx-auto px-4 w-full max-w-screen-lg font-mono relative z-20 transition-all" v-show="state !== '#/'">

          <header class="mb-8 pt-12">
            <section class="mx-auto w-full md:(flex divide(x gray-500 opacity-25))">
              <a href="#/" @click="state = '#/'" class="text-white self-center flex items-center justify-center relative opacity-50 hover:(opacity-100) focus:(opacity-100) transition">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" role="img" class="w-10 h-10">
                  <title>qrayg</title>
                  <g class="fill-current">
                    <circle cx="98.1" cy="98.1" r="6" opacity=".25"></circle>
                    <path d="M109.402699,94.0592724 C116.085856,84.3838 120,72.6489986 120,60 C120,26.862915 93.137085,0 60,0 C26.862915,0 0,26.862915 0,60 C0,93.137085 26.862915,120 60,120 C72.6489986,120 84.3838,116.085856 94.0592724,109.402699 C90.049715,107.969131 87.0258166,104.462602 86.278593,100.174129 C78.7292272,105.12235 69.7006692,108 60,108 C33.490332,108 12,86.509668 12,60 C12,33.490332 33.490332,12 60,12 C86.509668,12 108,33.490332 108,60 C108,69.7006692 105.12235,78.7292272 100.174122,86.2786024 C104.462602,87.0258166 107.969131,90.049715 109.402699,94.0592724 Z"></path>
                  </g>
                </svg>
              </a>
              <h1 class="py-2 text-5xl tracking-wider uppercase flex-1 flex items-center flex-col md:(ml-6 py-0 items-end)">
                <b>qrayg<sup class="text-base opacity-80">'s</sup></b>
                <i class="text-xl font-black not-italic tracking-normal opacity-75 block">Gear/Rig: PC &middot; Streaming &middot; Music</i>
              </h1>
              <!-- <div class="md:px-5 pt-5 md:pt-0 md:max-w-sm flex items-center justify-center"><p>...</p></div> -->
            </section>
          </header>
          <section v-for="(group, index) in rig" :id="group.category.replace(' ', '-').toLowerCase().trim()" class="mb-10 py-4 xl:(mb-32 py-8)">
            <article>
              <a :href="'#'+ group.category.replace(' ', '-').toLowerCase().trim()" :class="['text-'+ group.color, 'mb-5 text-xl uppercase flex items-center']">
                <em class="mr-4 text-5xl"><i :class="['fa-fw '+ group.ico]" aria-hidden="true"></i></em>
                <b class="tracking-widest flex-1 flex items-center justify-center"> <b class="font-black">{{ group.category }}</b> <b class="ml-4 border(t current) flex-1 opacity-25"></b></b>
              </a>
              <ul v-if="group.hardware" :class="['grid(& flow-row cols-1) gap-x-6 lg:(pl-16 grid-cols-2)', {'line-through opacity-50': group.category == 'Obsolete'}]">
                <li v-for="(hardware, index) in group.hardware" class="flex">
                  <a :href="hardware.link" :class="['border-'+ group.color, 'hover:bg-'+ group.color, 'focus:bg-'+ group.color, 'hover:text-'+ group.color, 'focus:text-'+ group.color, 'group py-3 px-5 border(l b opacity-25) w-full bg-transparent transition-all hover:(border-l-4 bg-opacity-10) focus:(border-l-4 bg-opacity-10) md:(px-0 flex space-x-4)']">
                    <b class="font-black tracking-wider uppercase block opacity-80 group-hover:(text-white) group-focus:(text-white) md:(w-1/4 text-right)">
                      <b class="text-sm">{{ hardware.type }}</b>
                      <small v-if="hardware.soon" class="uppercase leading-none tracking-wider flex justify-end">
                        <b class="px-1 py-px font-black text-yellow-300 ring(1 current inset) block relative">Pending <b class="ring(1 current inset) absolute inset-0 animate-ping-sm z-[-1]" aria-hidden="true"></b></b>
                      </small>
                    </b>
                    <div :class="['border-'+ group.color, 'mt-2 border w-2 h-2 rounded-full relative top-px hidden md:(block)']"></div>
                    <i class="not-italic md:tracking-tight flex-1">
                      {{ hardware.name }}
                      <small v-if="hardware.sub" class="uppercase leading-none tracking-wider flex flex-wrap">
                        <b v-for="(sub, index) in hardware.sub" class="mb-1 mr-1 py-px font-black text-current opacity-60 inline-block">
                          {{ sub }}<i v-if="hardware.sub.length > (index + 1)">, </i>
                        </b>
                      </small>
                    </i>
                  </a>
                </li>
              </ul>
            </article>
          </section>
        </section>
      </transition>

      <a href="#gear/" @click="state = '#gear/'" v-show="state == '#/'" class="gear-open w-12 h-12 text-grey-darker hover:text-white focus:text-white flex items-center justify-center fixed right-0 top-0 z-20 transition-all" title="PC/Streaming/Music Gear/Rig"><i class="inline-block align-middle far fa-fw fa-stream" aria-hidden="true"></i></a>
      <a href="#/" @click="state = '#/'" v-show="state !== '#/'" class="gear-close w-12 h-12 text-grey-darker hover:text-white focus:text-white flex items-center justify-center fixed right-0 top-0 z-20 transition-all" aria-label="Close"><i class="inline-block align-middle fat fa-fw fa-2x fa-times" aria-hidden="true"></i></a>

      <div id="particles" class="particles text-white opacity-10 fixed inset-0 z-[-1]"></div>
      <div id="bg" class="bg-gradient-to-b from-transparent via-transparent to-gray-800 fixed inset-0 z-[-2]"><div class="bg(grid fixed) absolute inset-0"></div></div>

    </main>

    <script src="js/twind.js"></script>
    <script src="js/plugins.js"></script>
    <script src="https://kit.fontawesome.com/6d6156d427.js" crossorigin="anonymous"></script>

    <script>

      // vue
      var app = new Vue({
        el: '.main',
        data: {
          state: location.hash || '#/',
          social: [
            { name: 'Twitch', icon: 'fab fa-twitch', color: 'purple-500', url: 'https://twitch.tv/qrayg/', },
            { name: 'YouTube', icon: 'fab fa-youtube', color: 'red-700', url: 'https://youtube.com/c/qrayg/', },
            { name: 'Discord', icon: 'fab fa-discord', color: 'indigo-500', url: 'https://discord.gg/Pa9X3C8', },
            { name: 'Gumroad', icon: null, color: 'gray-600', url: 'http://qrayg.gumroad.com', },
            { name: 'Patreon', icon: 'fab fa-patreon', color: 'red-400', url: 'https://patreon.com/qrayg/', },
          ],
          socialActive: null,
          socialLoopPaused: false,
          rig: [
            {
              category: 'PC',
              ico: 'fab fa-windows',
              color: 'blue-400',
              hardware: [
                { type: 'Case', name: 'SSUPD › Meshlicious', sub: ['White'], link: 'https://ssupd.com/products/meshlicious', },
                { type: 'MB', name: 'Asus › ROG Strix Z390-I', sub: ['ITX'], link: 'https://amzn.com/dp/B07HM57LVH?tag=qrayg-20', },
                { type: 'CPU', name: 'Intel › Core i5-8400', sub: ['2.8-4.0 GHz', '6 Cores'], link: 'https://amzn.com/dp/B0759FGJ3Q?tag=qrayg-20', },
                { type: 'Cooler', name: 'Noctua › NH-L9i', sub: ['chromax.Black'], link: 'https://amzn.com/dp/B07Y892M38?tag=qrayg-20', },
                { type: 'GPU', name: 'Gigabyte › GTX 1660', sub: ['GeForce'], link: 'https://amzn.com/dp/B081715P57?tag=qrayg-20', },
                { type: 'RAM', name: 'Corsair › Vengeance LPX', sub: ['16GB'], link: 'https://amzn.com/dp/B0134EW7G8?tag=qrayg-20', },
                { type: 'PSU', name: 'Corsair › SF 450', sub: ['80+ Gold'], link: 'https://amzn.com/dp/B01CGGOXWQ?tag=qrayg-20', },
                { type: 'M.2', name: 'Samsung › 970 Evo Plus', sub: ['250GB'], link: 'https://amzn.com/dp/B07MG119KG?tag=qrayg-20', },
              ]
            },
            {
              category: 'Mac',
              ico: 'fab fa-apple',
              color: 'gray-300',
              hardware: [
                { type: 'Laptop', name: 'MacBook › Pro', sub: ['2021', 'M1 Pro', '14"', '8-core'], link: 'https://amzn.com/dp/B09JQL8KP9?tag=qrayg-20', },
                { type: 'Dock', name: 'Brydge › Stone Pro', sub: ['Thunderbolt 3'], link: 'https://amzn.com/dp/B08G9WDH6B?tag=qrayg-20', },
                { type: 'Hub', name: 'Satechi › Stand', sub: ['3x USB3', '1x USBC', 'SD/microSD'], link: 'https://amzn.com/dp/B07GX1WW47?tag=qrayg-20', },
                { type: 'External SSD', name: 'Samsung › T7', sub: ['500GB'], link: 'https://amzn.com/dp/B0874XN4D8?tag=qrayg-20', },
              ]
            },
            {
              category: 'Accessories',
              ico: 'fat fa-computer-speaker',
              color: 'red-400',
              hardware: [
                { type: 'Display 1', name: 'LG › 27GL83A-B', sub: ['27"', '144hz'], link: 'https://amzn.com/dp/B07YGZL8XF?tag=qrayg-20', },
                { type: 'Display 2', name: 'LG › 27GL83A-B', sub: ['27"', '144hz'], link: 'https://amzn.com/dp/B07YGZL8XF?tag=qrayg-20', },
                { type: 'Speakers', name: 'Audioengine › A2+', sub: ['+ S1 Sub'], link: 'https://amzn.com/dp/B07MYW4Q8S?tag=qrayg-20', },
                { type: 'Headphones', name: 'Bowers & Wilkins › PX-7', sub: ['Over Ear'], link: 'https://amzn.com/dp/B07WK6SGZC?tag=qrayg-20', },
                { type: 'USB Switch', name: 'UGreen › USB3 Switch', sub: ['4x USB3', 'Mac ↔ PC'], link: 'https://amzn.com/dp/B01N6GD9JO?tag=qrayg-20', },
                { type: 'Chair', name: 'Steelcase › Reply Mesh', sub: ['Gray', 'Black'], link: 'https://store.steelcase.com/Store/seating/office-chairs/reply-mesh-back-chair', },
              ]
            },
            {
              category: 'Keyboards',
              ico: 'fat fa-keyboard',
              color: 'green-500',
              hardware: [
                { type: 'KB', name: 'Apple › Wireless', sub: ['100%', 'Space Gray'], link: 'https://amzn.com/dp/B082C15S5L?tag=qrayg-20', },
                { type: 'KB', name: 'Keychron › Q2', sub: ['65%', 'Hotswap', 'RGB', 'Carbon Black'], link: 'https://keychron.com/products/keychron-q2-qmk-custom-mechanical-keyboard', },
                { type: 'KB', name: 'Keychron › K7', sub: ['65%', 'Hotswap', 'RGB', 'Banana'], link: 'https://keychron.com/pages/keychron-k7-wireless-mechanical-keyboard', },
                { type: 'KB', name: 'Keychron › K14', sub: ['65%', 'Hotswap', 'RGB', 'Red'], link: 'https://keychron.com/pages/keychron-k14-wireless-mechanical-keyboard', },
                { type: 'KB', name: 'Satechi › Slim X1', sub: ['Wireless', 'Backlit'], link: 'https://satechi.net/products/slim-x1-bluetooth-backlit-keyboard', },
                { type: 'KB', name: 'MelGeek › Z70', sub: ['65%', 'Black', 'Healio', '63.5g'], link: 'https://melgeek.com/products/melgeek-z70-ultra-65-rgb-custom-mechanical-keyboard-kit', },
                { type: 'KB', name: 'GMMK › Pro', sub: ['75%', 'Black', 'Boba U4'], link: 'https://www.pcgamingrace.com/products/glorious-gmmk-pro-75-barebone-black', },
                { soon: true, type: 'KB', name: 'IKKI68 › Aurora', sub: ['65%', 'Snow', 'TBD'], link: 'https://shop.wuquestudio.com/pages/ikki68-aurora', },
                { type: 'KB', name: 'NK65 › Entry Edition', sub: ['65%', 'Fire', 'Milky Yellow'], link: 'https://novelkeys.xyz/collections/keyboards/products/nk65-entry-edition', },
                { type: 'KB', name: 'Leopold › FC660C', sub: ['65%', 'White', 'Topre Silent', 'Extended2048'], link: 'https://amzn.com/dp/B07QKXC6WC?tag=qrayg-20', },
                { type: 'KB', name: 'Morgrie', sub: ['65%', 'Clicky'], link: 'https://morgrie.com/', },
                { type: 'KB', name: 'Cajal', sub: ['45%', 'Space Grey', 'Silent Sky'], link: 'https://walletburner.co/pages/cajal', },
                { type: 'KB', name: 'UT47.2', sub: ['40%', 'Alu', 'Kailh Copper'], link: 'https://keyhive.xyz/shop/ut472-kit', },
                { type: 'KB', name: 'Planck EZ › Glow x2', sub: ['40%', 'Black - Kaihl Gold', 'White - Zilent'], link: 'https://ergodox-ez.com/pages/planck', },
                { type: 'KB', name: 'Vortex › Core', sub: ['40%', 'Cherry Blue', 'Bamboo'], link: 'https://amzn.com/dp/B01MS3PWS0?tag=qrayg-20', },
                { type: 'KB', name: 'MiniVan › KUMO', sub: ['40%', 'Purple Tactile', 'Walnut'], link: 'https://thekey.company/products/minivan', },
                { type: 'KB', name: 'MiniVan › JetVan', sub: ['40%', 'Aliaz', 'White'], link: 'https://thekey.company/products/minivan', },
                { type: 'Caps', name: 'R1', sub: ['NP/XDA'], link: 'https://kbdfans.com/collections/np-pg-da-profile/products/np-pbt-grey-and-blue-keycaps-set', },
                { type: 'Caps', name: 'DSA Light Cycle', sub: ['Control the System'], link: 'https://drop.com/buy/lightcycle-dsa-custom-keycap-set-for-the-minivan', },
                { type: 'Caps', name: 'biip MT3 Extended 2048', sub: ['Modifiers', 'Icono', 'Media Icons'], link: 'https://drop.com/buy/drop-biip-mt3-extended-custom-keycap-set', },
                { type: 'Caps', name: 'Plastic', sub: ['Clone', 'XDA'], link: 'https://amzn.com/dp/B08ZMR1651?tag=qrayg-20', },
                { type: 'Caps', name: 'GMK Dolch 2', sub: ['Modern', 'Standard', 'Obscure'], link: 'https://omnitype.com/', },
                { type: 'Caps', name: 'DSA Milkshake', sub: ['Weirdo', 'Spacebars', 'Fruit'], link: 'https://novelkeys.com/collections/keycaps/products/dsa-milkshake', },
                { soon: true, type: 'Caps', name: 'Domikey Ghost', sub: ['Extension'], link: 'https://cannonkeys.com/collections/group-buy/products/gb-domikey-ghost', },
                { soon: true, type: 'Caps', name: 'Less But Better', sub: ['Novelties', 'Extras'], link: 'https://kono.store/products/epbt-less-but-better', },
                { soon: true, type: 'Caps', name: 'kam_superuser', sub: ['Mods Highlight', '40\'s Highlight', 'Spacebars', 'Novelties'], link: 'https://novelkeys.com/products/kam-superuser', },
              ]
            },
            {
              category: 'Streaming',
              ico: 'fat fa-waveform-path',
              color: 'purple-500',
              hardware: [
                { type: 'Capture', name: 'Elgato › HD60 S', sub: ['USB'], link: 'https://amzn.com/dp/B01DRWCOGA?tag=qrayg-20', },
                { type: 'Cam', name: 'Lumina › AI Webcam', sub: ['USB', 'Grey'], link: 'https://getlumina.com/', },
                { type: 'Mic', name: 'Shure › MV7', sub: ['USB', 'XLR'], link: 'https://amzn.com/dp/B08G7RG9ML?tag=qrayg-20', },
                { type: 'Strip HDCP', name: 'OREI › HD-102', sub: ['HDMI'], link: 'https://amzn.com/dp/B005HXFARS?tag=qrayg-20', },
                { type: 'Misc', name: 'LeMetric › Time', sub: ['Smart Clock'], link: 'https://amzn.com/dp/B01IVTVK3W?tag=qrayg-20', },
                { type: 'Games Room', name: '... › pxl.media', sub:['Game / console collection'], link: 'https://pxl.media/', },
              ]
            },
            {
              category: 'Home Theater',
              ico: 'fat fa-speakers',
              color: 'pink-500',
              hardware: [
                { type: 'AV Receiver', name: 'Marantz › NR1711', sub: ['Black'], link: 'https://amzn.com/dp/B0786M9ZZS?tag=qrayg-20', },
                { type: 'Front', name: 'Wharfedale › EM 95', sub: ['Speakers'], link: 'https://amzn.com/dp/B00004SY59?tag=qrayg-20', },
                { type: 'Center', name: 'Klipsch › R-52C', sub: ['Speaker'], link: 'https://amzn.com/dp/B07FK41FGL?tag=qrayg-20', },
                { type: 'Rear', name: 'Klipsch › R-41M', sub: ['Speakers'], link: 'https://amzn.com/dp/B07FKH3VPV?tag=qrayg-20', },
                { type: 'Subwoofer', name: 'Yamaha › YST-SW90', sub: ['Powered'], link: 'https://amzn.com/dp/B00FRET3RA?tag=qrayg-20', },
                { type: 'Phono', name: 'Pro-Ject › T1', sub: ['Walnut'], link: 'https://amzn.com/dp/B07Z8NHNZZ?tag=qrayg-20', },
              ]
            },
            {
              category: 'Music',
              ico: 'fat fa-amp-guitar',
              color: 'yellow-400',
              hardware: [
                { type: 'Guitar', name: 'Ibanez › QX52', sub: ['2021', 'Black'], link: 'https://amzn.com/dp/B09JGQ3WWR?tag=qrayg-20', },
                { type: 'Guitar', name: 'Kiesel › Vader', sub: ['2021', 'Custom 6', 'Fishman Fluence'], link: 'https://craigerskine.github.io/prototypes/kiesel/order-sheet/', },
                { type: 'Guitar', name: '.strandberg* › Boden', sub: ['2020', 'Metal 6', 'Black Pearl'], link: 'https://strandbergguitars.com/product-category/family/boden-metal/', },
                { type: 'Amp', name: 'Positive Grid › Spark 40', sub: ['40 watt'], link: 'https://amzn.com/dp/B08HQCG79H?tag=qrayg-20', },
                { soon: true, type: 'Amp', name: 'Positive Grid › Spark MINI', sub: ['10 watt'], link: 'https://www.positivegrid.com/spark-mini', },
                { type: 'Amp', name: 'Boss › Katana MINI', sub: ['7 watt'], link: 'https://amzn.com/dp/B072XKP8TH?tag=qrayg-20', },
                { type: 'Modeling', name: 'Line 6 › HX Stomp', sub: ['USB'], link: 'https://amzn.com/dp/B07J2LV1N1?tag=qrayg-20', },
                { type: 'Plugins', name: 'Neural DSP › Archetype', sub: ['Petrucci', 'Tim Henson'], link: 'https://neuraldsp.com/plugins', },
                { type: 'Sequencer', name: 'Arturia › Keystep', sub: ['MIDI Controller'], link: 'https://amzn.com/dp/B01BPSBU40?tag=qrayg-20', },
                { type: 'Interface', name: 'AXE › I/O Solo', sub: ['Bus Powered'], link: 'https://amzn.com/dp/B085JDFLLD?tag=qrayg-20', },
              ]
            },
          ]
        },
        methods: {
          socialLoop: function() {
            setInterval(function() {
              if(!app.socialLoopPaused) {
                if(app.socialActive < (app.social.length)) {
                  app.socialActive++
                } else {
                  app.socialActive = null
                }
              }
            }, 1500);
          }
        },
        mounted() {
          this.socialLoop()
        },
      });

      // ES6 garbage
      var $ = document.querySelectorAll.bind(document);

      // query/message stuff for twitch streaming
      const urlParams = new URLSearchParams(window.location.search);

      if(location.hash == '' && urlParams.get('message') == ''){
        location.hash = '#/';
      }

      if(urlParams.get('message') == 'start'){
        $('.message').forEach(function(el){el.classList.remove('hidden')});
        var typed = new Typed('.message b', {
          strings: ['Stream^250 starting soon^1000!', 'It^500 won\'t be long now^250.^250.^250.'],
          typeSpeed: 50,
          backSpeed: 50,
          backDelay: 1000,
          cursorChar: '|',
          smartBackspace: false,
          loop: true
        });
      }
      if(urlParams.get('message') == 'end'){
        $('.message').forEach(function(el){el.classList.remove('hidden')});
        var typed = new Typed('.message b', {
          strings: ['Thanks for^250 watching^1000!', 'Come back^500 soon^250.^250.^250.'],
          typeSpeed: 50,
          backSpeed: 50,
          backDelay: 1000,
          cursorChar: '|',
          smartBackspace: false,
          loop: true
        });
      }

      twind.setup({
        mode: "silent",
        theme: {
          extend: {
            colors: {
              gray: twindColors.gray,
            },
            fontFamily: (theme) => ({
              sans: 'Inter,'+ theme('fontFamily.sans'),
              mono: 'Inconsolata,'+ theme('fontFamily.mono'),
            }),
            keyframes: {
              blob: {
                '15%': { 'transform-origin': 'center center', transform: 'scale(1.4, 1.2)', },
                '40%': { 'transform-origin': 'center center', transform: 'scale(.9, .9)', },
                '75%': { 'transform-origin': 'center center', transform: 'scale(1.08, 1)', },
                '100%': { 'transform-origin': 'center center', transform: 'scale(1, 1)', },
              },
              'anim_ping-sm': {
                '75%, 100%': {
                  transform: 'scale(1.5)',
                  opacity: '0',
                },
              },
              'anim_throb': {
                '0%': { transform: 'scale(1)' },
                '50%': { transform: 'scale(1.1)' },
                '100%': { transform: 'scale(1.001)' },
              },
              'anim_spin': {
                '0%, 90%': { transform: 'rotate(0deg)' },
                '100%': { transform: 'rotate(360deg)' },
              },
            },
            animation: {
              blob: 'blob .3s ease-in-out',
              'ping-sm': 'anim_ping-sm 1s cubic-bezier(0, 0, 0.2, 1) infinite',
              'throb': 'anim_throb 3s ease-in-out infinite',
              'spin': 'anim_spin 8s ease-in-out infinite',
            },
          },
        },
        plugins: {
          'scroll-smooth': { 'scroll-behavior': 'smooth' },
          'bg-grid': { 'background-image': 'url("data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 4\' width=\'4\' height=\'4\'><rect x=\'0\' y=\'0\' width=\'2\' height=\'2\' fill=\'rgba(5,5,5,.33)\'></rect></svg>")', },
        },
      })
      twind.tw(() => ({
        '@global': {
          ':root [v-cloak]': { '@apply': 'hidden', },
          '.v-leave-active': { '@apply': 'hidden', },
          '.v-enter-active': { '@apply': 'opacity-0 translate-y-12', },
          '.social a b': { '@apply': 'w-full h-full absolute top-0 left-0 index-10 opacity-0 rounded-full', },
          '.social .active b,.social a:hover b,.social a:focus b': { '@apply': 'bg-current opacity-75 shadow-xl transition-all scale-150', },
          '.social a svg': { '@apply': 'text-white opacity-50 relative z-20 transition-all', },
          '.social .active,.social a:hover,.social a:focus': { '@apply': 'animate-blob', },
          '.social .active svg,.social a:hover svg,.social a:focus svg': { '@apply': 'text-white opacity-100', },
        }
      }))
      twindObserve.observe(document.documentElement);
      document.documentElement.removeAttribute('hidden');

     // particles
      particlesJS("particles",
        {
          "particles": {
            "number": {
              "value": 160,
              "density": {
                "enable": false,
                "value_area": 800
              }
            },
            "color": {
              "value": "#CCCCCC"
            },
            "shape": {
              "type": "edge",
              "stroke": {
                "width": 0,
                "color": "#CCCCCC"
              },
              "polygon": {
                "nb_sides": 5
              },
              "image": {
                "src": "",
                "width": 100,
                "height": 100
              }
            },
            "opacity": {
              "value": 1,
              "random": true,
              "anim": {
                "enable": true,
                "speed": 1,
                "opacity_min": 0,
                "sync": false
              }
            },
            "size": {
              "value": 2,
              "random": true,
              "anim": {
                "enable": true,
                "speed": 4,
                "size_min": 1,
                "sync": false
              }
            },
            "line_linked": {
              "enable": false,
              "distance": 150,
              "color": "#999999",
              "opacity": 0.4,
              "width": 1
            },
            "move": {
              "enable": true,
              "speed": 1,
              "direction": "none",
              "random": true,
              "straight": false,
              "out_mode": "out",
              "bounce": false,
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 600
              }
            }
          },
          "interactivity": {
            "detect_on": "window",
            "events": {
              "onhover": {
                "enable": true,
                "mode": "bubble"
              },
              "onclick": {
                "enable": true,
                "mode": "repulse"
              },
              "resize": true
            },
            "modes": {
              "grab": {
                "distance": 400,
                "line_linked": {
                  "opacity": 1
                }
              },
              "bubble": {
                "distance": 100,
                "size": 1,
                "duration": 2,
                "opacity": 1,
                "speed": 3
              },
              "repulse": {
                "distance": 200,
                "duration": 0.4
              },
              "push": {
                "particles_nb": 4
              },
              "remove": {
                "particles_nb": 2
              }
            }
          },
          "retina_detect": true
        }
      );

      // analytics
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-6318307-2', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>

  </body>
</html>