---
layout: 'layouts/default.njk'
eleventyNavigation:
  key: Home
  icon: mdi:home-roof
---

<section class="landing m-auto text-center relative z-20 motion-safe:transition-all" x-data="social">
  <h1 class="logo group pt-4 pb-24 flex justify-center relative">
    <a href="/" class="mx-4 text-white block motion-safe:(animate-spin)">
      <b class="inline-block motion-safe:(animate-throb)">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120" role="img" class="w-24 h-auto inline-block align-middle md:(w-32)">
          <title>{{ site.meta.title }} - {{ site.meta.description }}</title>
          <g fill="currentColor">
            <circle cx="98.1" cy="98.1" r="6" opacity=".25" />
            <path d="M109.402699,94.0592724 C116.085856,84.3838 120,72.6489986 120,60 C120,26.862915 93.137085,0 60,0 C26.862915,0 0,26.862915 0,60 C0,93.137085 26.862915,120 60,120 C72.6489986,120 84.3838,116.085856 94.0592724,109.402699 C90.049715,107.969131 87.0258166,104.462602 86.278593,100.174129 C78.7292272,105.12235 69.7006692,108 60,108 C33.490332,108 12,86.509668 12,60 C12,33.490332 33.490332,12 60,12 C86.509668,12 108,33.490332 108,60 C108,69.7006692 105.12235,78.7292272 100.174122,86.2786024 C104.462602,87.0258166 107.969131,90.049715 109.402699,94.0592724 Z" />
          </g>
        </svg>
      </b>
    </a>
    <b class="flex items-center justify-center opacity-[.0001] absolute bottom-0 inset-x-0 translate-y-1 motion-safe:transition-all group-hover:(opacity-100 -translate-y-1) group-focus:(opacity-100 -translate-y-1)"><b class="usr pb-8 text-xl md:(text-2xl) font-black "><small class="text(red-500 base)">@</small> <b class="logo-usr" title="{{ site.meta.title }} - {{ site.meta.description }}">{{ site.meta.title }}</b></b></b>
  </h1>
  <ul class="social mb-16 flex justify-center relative">
    <template x-for="(soc, index) in social">
      <li class="mx-3 md:mx-8" @mouseover="socialLoopPaused = true, socialActive = null" @mouseout="socialLoopPaused = false">
        <a :href="soc.url" :class="['w-8 h-8 flex relative motion-safe:(transition-all) md:(w-12 h-12) text-'+ soc.color, socialActive === (index + 1) ? 'active' : '']" :aria-label="soc.name">
          <iconify-icon :icon="soc.icon" inline="false" class="m-auto inline-block align-middle text-2xl md:(text-3xl)" noobserver></iconify-icon>
          <b></b>
        </a>
      </li>
    </template>
  </ul>
  <h2 x-show="streamState == 'start' || streamState == 'end'" class="message mb-16 pt-8 text-(4xl center) opacity-50">
    <b class="font-black" x-text="streamState == 'start' ? 'Stream starting soon! It won\'t be long now...' : 'Stream Ended! Thanks for watching...'"></b>
  </h2>
</section>

{% setblock 'js' %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('social', () => ({
      social: [
        { name: 'Twitch', icon: 'simple-icons:twitch', color: 'purple-500', url: 'https://twitch.tv/qrayg/', },
        { name: 'X', icon: 'simple-icons:x', color: 'red-700', url: 'https://twitter.com/qrayg/', },
        { name: 'Discord', icon: 'simple-icons:discord', color: 'indigo-500', url: 'https://discord.com/users/qrayg#0001', },
        { name: 'Ko-Fi', icon: 'cib:ko-fi', color: 'gray-600', url: 'https://ko-fi.com/qrayg', },
        { name: 'Patreon', icon: 'simple-icons:patreon', color: 'red-400', url: 'https://patreon.com/qrayg/', },
      ],
      socialActive: null,
      socialLoopPaused: false,
      streamState: window.location.hash ? window.location.hash.substring(1) : null,
      socialLoop() {
        setInterval(() => {
          if(!this.socialLoopPaused) {
            if(this.socialActive < this.social.length) {
              this.socialActive++
            } else {
              this.socialActive = null
            }
          }
        }, 1500);
      },
      init() {
        this.socialLoop()
      },
    }))
  })
</script>
{% endsetblock %}
